parameters:
    level: 7
    paths:
        - src
    ignoreErrors:
        -
            message: '#Undefined variable: \$routeIndex#'
            path: %currentWorkingDirectory%/src/Router/FastRouteRouter.php
