parameters:
    level: 7
    paths:
        - src
    ignoreErrors:
        -
            message: '#Method Chubbyphp\\Framework\\Router\\AuraRouter::generatePath\(\) should return string but returns string\|false#'
            path: %currentWorkingDirectory%/src/Router/AuraRouter.php
        -
            message: '#Undefined variable: \$routeIndex#'
            path: %currentWorkingDirectory%/src/Router/FastRouteRouter.php
